<form>
    <h1>CRIANDO NOVO PRODUTO</h1>

    <mat-form-field class="form">
        <mat-label>Marca</mat-label>
        <input matInput [(ngModel)]="produto.marca" [formControl]="marca" required type="text" name="marca" placeholder="Ex. Lacoste" maxlength="100">
        <mat-error *ngIf="marca.invalid">{{ getMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Titulo</mat-label>
        <input matInput [(ngModel)]="produto.titulo"  [formControl]="titulo" required type="text" name="titulo" placeholder="Ex. Sapato" maxlength="100">
        <mat-error *ngIf="titulo.invalid">{{ getMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Texto</mat-label>
        <textarea matInput [(ngModel)]="produto.texto" [formControl]="texto" required type="text" name="texto" placeholder="Ex. descrição do produto" maxlength="2000000"></textarea>
        <mat-error *ngIf="texto.invalid">{{ getMessage() }}</mat-error>
    </mat-form-field>

    <div class="buttons">
        <button (click)="create()" [disabled]="getMessage()" class="mat-elevation-z8" mat-stroked-button color="primary"> CRIAR </button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn"> CANCELAR </button>
    </div>

</form>